{%extends "base.html"%}

{% block body %}
<div style="margin:50px; isolation: isolate; ">
    <h1 style="text-align: center;"> Task Master</h1>
    {% if tasks|length < 1%}
    <h4 style="text-align: center;">There are no tasks. Create one below!</h4>
    {% else %}
    <table align="center" style="border: 1px solid grey; border-radius: 15px;" cellspacing="5" cellpadding="5">
        <tr>
            <th>Task</th>
            <th>Added</th>
            <th>Actions</th>
        </tr>
        {% for task in tasks %}
        <tr>
            <td style="font-style:italic"> {{task.content}}</td>
            <td style="font-style: italic;"> {{task.date_created.date()}}</td>
            <td style="font-style: italic">
              <a href="/delete/{{task.id}}">Delete</a>
                <br>
              <a href="/update/{{task.id}}">Update</a>
            </td>
        </tr>
        {% endfor%}
    </table>
    {% endif %}
    </div>
    <div style="margin:50px; " align="center">
    <form action="/" method="POST" name="form">
        <input type="text" placeholder="Type the Content Here!" name="content" id="form" style="width: 400px; -webkit-text-fill-color:dimgray; border-radius: 15px;">
        <input type="submit" value="Add Task" style="float:center; background-color:rgb(187, 192, 182); border: none; color: #fff; font-size: 1em; text-transform:inherit; font-weight: normal; border-radius: 15px; ">
    </form>
{% endblock %}
